<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <img src="#" alt="Imagen">
            <p>MiniBlog</p>

            <a href="">Recientes</a>
            <a href="">Calendario</a>
        </nav>
    </header>

    <main>
        <h1>Blog Personal</h1>


        <form action="" method="POST">
            <legend>Agrega una nueva entrada</legend>
            <fieldset>
                <label for="titulo">Titulo</label>
                <input type="text" id="titulo" placeholder="Ingresa el titulo" name="titulo" required>
            </fieldset>

            <fieldset>
                <label for="contenido">Contenido</label>
                <input type="text" id="contenido" placeholder="Agrega el contenido" name="contenido" required>
            </fieldset>

            <input type="submit" value="Agregar">
        </form>

        <h2>Post recientes</h2>
        {% for publicacion in publicaciones%}
        <p>Titulo: {{publicacion.titulo}}</p>
        <p>Fecha</p>
        <p>Contenido: {{publicacion.contenido}}</p>
        {% endfor %}
    </main>
</body>
</html>